<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <!-- A Boolean indicating whether NuGet can perform automatic restore. You can also set the EnableNuGetPackageRestore environment variable with a value of True instead of setting this key in the config file -->
    <add key="enabled" value="True" />
    <!-- A Boolean indicating whether NuGet should check for missing packages during a build -->
    <add key="automatic" value="True" />
  </packageRestore>

  <!-- Lists all known package sources. The order is ignored during restore operations and with any project using the PackageReference format. NuGet respects the order of sources for install and update operations with projects using packages.config -->
  <packageSources>
    <add key="nuget nexus" value="https://esf-nexus.gnivc.ru:8443/repository/nuget-group/index.json" />
<!--    <add key="nuget-hosted" value="http://10.250.26.253:8081/repository/nuget-hosted/" />-->
  </packageSources>

  <!-- Used to store credentials -->
  <!-- <packageSourceCredentials>
    <nuget_x002E_org_x002D_proxy>
      <add key="Username" value="public" />
      <add key="ClearTextPassword" value="public" />
    </nuget_x002E_org_x002D_proxy>
    <nuget_x002D_hosted>
      <add key="Username" value="public" />
      <add key="ClearTextPassword" value="public" />
    </nuget_x002D_hosted>
  </packageSourceCredentials> -->

  <!-- Identified currently disabled sources. May be empty  -->
  <disabledPackageSources>
    <!-- <add key="nuget.org" value="true" /> -->
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
  </disabledPackageSources>

  <packageManagement>
    <!-- A Boolean indicating the default package management format. If 1, format is PackageReference. If 0, format is packages.config -->
    <add key="format" value="1" />
    <!-- A Boolean indicating whether to show the prompt to select a default package format on first package install. False hides the prompt -->
    <add key="disabled" value="False" />
  </packageManagement>

</configuration>