<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<extensions>
		<!--enable NLog.Web for ASP.NET Core-->
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<!--https://github.com/nlog/NLog/wiki/AsyncWrapper-target-->
	<targets async="true">
		<target type="File" name="CommonLog" fileName="./logs/${shortdate}_common.txt"
			layout="${longdate} ${level:uppercase=true:padding=5} ${logger} ${aspnet-request:serverVariable=Url} ${message} ${exception:format=tostring}"
			archiveFileName="./logs/archives/Log${shortdate}-{##}_common.zip"
			archiveAboveSize="20000000"
			archiveNumbering="DataAndSequence"
			archiveEvery="Day"
			enableArchiveFileCompression="true"
			createDirs ="true"
			keepFileOpen="true"
			maxArchiveFiles="24"
			maxArchiveDays="5"
			encoding="utf-8"/>
	</targets>

	<rules>
		<!-- all logs to common log, min level can regulate here (max info - Trace)/normal info lvl - Info -->
		<logger name="*" minlevel="Debug" writeTo="CommonLog" />
		<!--Output hosting lifetime messages to target for faster startup detection -->
		<!--<logger name="Microsoft.*" minlevel="Info" final="true" writeTo="CommonLog" />-->
	</rules>
</nlog>
